<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #316ED6;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a routerLink="/post/{{id1}}">Post</a></li>
  <li><a routerLink="/album/{{id1}}">Album</a></li>
  <li><a routerLink="/docs/{{id1}}">To Docs</a></li>
 
  <li style="float:right"><a class="active" routerLink="/login">Log Out</a></li>
  <li style="float:right"><a >{{UserName}}&nbsp;({{company}})</a></li>
</ul>

</body>
</html>
